name: Python Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov

    - name: Rodar testes com cobertura
      run: |
        pytest --cov=src --cov-report=xml --cov-report=term-missing -v
